<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %> -- <%= bookmark.comment %><%= link_to "Delete", list_bookmark_path(bookmark.id), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></li>
  <% end %>
</ul>

<%= link_to "Bookmark a movie to this list", new_list_bookmark_path(@list.id) %>

<%= link_to "Back to all lists", lists_path %>
